{% extends "default/base.html" %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<link rel="stylesheet" href="../../../static/minify/materialize.min.css" type="text/css">
<link rel="stylesheet" href="../../../static/minify/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="../../../static/minify/font-awesome.min.css" type="text/css">

<link rel="shortcut icon" href="images/logo.png">

<script src="../../../static/minify/jquery.min.js"></script>
<script src="../../../static/minify/materialize.js"></script>
<script src="../../../static/minify/bootstrap.bundle.min.js"></script>
<title>{% block title %}{% endblock %}</title>