{% load static %}
{% extends "default/base.html" %}
{% block  title %}Login{% endblock %}

{% block content %}
	<div class="position-fixed w-100 h-100" style="background-image: url({% static 'img/image (2).jpg' %}); background-size: cover; z-index: 999; top: 0; background-position: center;">
	</div>
	<div class="position-fixed w-100 h-100 d-flex align-items-center justify-content-center" style="background: rgba(0,0,0,0.4); z-index: 1000; top: 0;">
		<form method="post" class="d-block mx-5 w-100" action="{% url 'login' %}" style="max-width: 350px">
			{% csrf_token %}

			{% if form.errors %}
				<div id="login-message" class="alert alert-danger mb-4 red lighten-4">Incorrect username or password.</div>
			{% endif %}
			<div class="bg-white rounded border w-100">
				<div class="p-3">
					<h4>Single Vendor</h4>
					<span>Welcome back!! Login to Your Account</span>
				</div>
				<div class="border-bottom border-top p-3">
					<input type="text" name="login" placeholder="Username" class="browser-default form-control form-control-lg" required value="##login.login##">
					<br/>
					<input type="password" name="pass" placeholder="Password" class="browser-default form-control form-control-lg" required value="##login.pass##">
				</div>
				<div class="p-3">
					<input type="checkbox" name="atl" value="1" class="browser-default mr-1" style="display: inline;opacity: 1;pointer-events: unset;position: static;"> Remember Me?
					<a href="{% url 'password_reset' %}" class="ml-3">Forgot password?</a>
					<br/>
					<input id="login-button" type="submit" value="Sign In" class="btn btn-succes w-100 z-depth-0 mt-3 red lighte-2 white-text">
				</div>
			</div>
			<br/><br/>
			<div class="text-center grey-text">
				&copy;&nbsp;&nbsp;2019&nbsp;&nbsp;SingleVendor. All rights reserved.
			</div>
		</form>
	</div>
{% endblock %}